/* Boilerplate stuff */
body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto auto;
    
}

#mainTitle{
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
}

#gameWindow{
    background-color: #098765;
    color: #999999;
    width: 800px;
    height: 608px;
    grid-column-start: 2;
    grid-row-start: 2;
    position: relative;
}

.foreground{
    position: absolute;
    z-index: 1000;
}

.background{
    position: absolute;
    z-index: 0;
}

#inventorySquare{
    position:absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 100px;
    background-color: #000;
    color: #ffffff;
    border: 3px solid #fff;
}

#inventoryBox{
    left: -84px;
}
/* Main character */
.character{
    position: absolute;
    z-index: 100;
    transition: all 1s ease-in-out;

}

#mainCharacter{
    top: 228px;
    left: 400px;
}

#ghostpic{
    position: absolute;
    top: 229px;
    left: 165px;
}

#itemPickUp{
    opacity: 0;
}
/* Interactables */
#door1{
    top: 50px;
    left: 465px;
    width: 31px;
    height: 47px;
}

#doorPic{
    top: 50px;
    left: 465px;
    width: 31px;
    height: 47px;
    opacity: 0;
}

#platform{
    top: 313px;
    left: 557px;
    width: 165px;
    height: 95px;
}

#platformPic{
    top: 313px;
    left: 557px;
    width: 165px;
    height: 95px;
    transition: all 1s ease-in-out;
}

#cellar{
    top: 465px;
    left: 289px;
    width: 31px;
    height:31px;
}
/* Dialogue box */
.messageBox{
    content: ' ';
    padding: 10px;
    border: 9px solid transparent;
}

.speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: 60px;
    color: #000;
    padding: 5px 5px 5px 10px;
    font-size: 12px;
    left: 64px;
    opacity: 0;
    width: 400px;
    transition: all 1s ease-in-out;
}

#otherSpeech {
    left: 311px;
}

#dialogueBar{
    height: 64px;
    bottom: 0;
    position: absolute;
}

#mainCharacterPortrait{
    position: absolute;
    opacity: 0;
    transition: all 1s ease-in-out;
}

#brainGuyPortrait{
    position: absolute;
    opacity: 0;
    left: 729px;
    transform: scaleX(-1);
    transition: all 1s ease-in-out;
}

#cellarPortrait{
    position: absolute;
    opacity: 0;
    left: 729px;
    transform: scaleX(-1);
    transition: all 1s ease-in-out;
}

#dialogueBackground{
    position: absolute;
    height: 32px;
    width: 800px;
    background-color: #774444;
    bottom: 0;
}