body{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
}

#game{
    background-color: #098765;
    color: #999999;
    width: 800px;
    height: 608px;
    grid-column-start: 2;
    

}
#ghost{
    width: 40px;
    position: relative;
    left: 100px;
    top: 100px;
}